use flake 

# Get current git branch name
GIT_BRANCH=$(git rev-parse --abbrev-ref HEAD 2>/dev/null || echo "")
ENV_FILES=(.env .env.development .env.local .env.development.local)

# Branch-specific logic for environment variables
for f in "${ENV_FILES[@]}" ; do
    if [[ "$GIT_BRANCH" == "main" || "$GIT_BRANCH" == "master" ]]; then
        dotenv_if_exists "${f}"
    else
        dotenv_if_exists "${f}" || dotenv_if_exists "../../${f}"
    fi
done
